@import
url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

*{
    margin :0px;
    padding: 0px;
    
    font-family: 'Nanum Gothic Coding', monospace;
    
    background-color: white;
    
    text-align: center;
    
/*    background-size: 100%;
    background-repeat: no-repeat;
    
    position: static;
    */ 
}


.wrap_all{
    border : 5px solid black;
    border-radius: 20px;
    
    background-color : floralwhite;
}

.content_wrap{
    background-color : floralwhite;
}

h1.header{
   font-size: 40px;
   margin : 30px;   
    
  background-color : floralwhite;
}


h2.title{
    margin : 20px 30px;
    background-color : floralwhite;
}

.wrap{
    width : 900px;
    background-color : floralwhite;
}

.regform{
    margin : 10px 30px;
    
   background-color : floralwhite;
}

.regform>table{
  /*  border : 1px solid black;*/
   width :850px;   
    
   background-color : floralwhite;

}

.regform>table input{
    margin: 5px;
    width : 130px;
    height: 30px;
    
    background-color: #F5EC7D;
    
    border-color: #F5EC7D;  
    border-radius: 10px;

}

.regform>table input[type="submit"]{
    margin-top : 15px;
    margin-left : 10px;
    
    width : 100px;
    height: 60px;
    
    border-radius: 10px;
    border-color: yellowgreen;
    
    background-color: yellowgreen;
    color : black;
    font-size: 16px;
    font-weight: bold;
}


.regform>table td{
    font-weight: bold;
    background-color : floralwhite;
}
    
.regform>table div.msg{
    color : crimson;
    font-size: 15px;
    text-align: center;
    display: none;    
}   









table.table{
    width : 860px;
    
    margin : 30px;
    
    border-collapse: collapse;
 
     border : 1px solid black ; 
}

.table th{   
  padding : 13px;
    
  background-color: #F5EC7D;   
}

.table td{
    
   padding : 18px; 
}



.popup{
    
    position: absolute;
    
    margin-top : -250px;
    margin-left: 300px;
    
    display : block;
    
    overflow: hidden;
    
    border : 5px solid black;
    border-radius: 20px;
    
    width : 300px;
    height : 230px;
    
    padding : 15px;
    
    font-size: 16px;
    
    

}


.editform h3{
    font-size: 20px;
  
    margin-right: -50px;
    line-height: 60px;        
}


.editform label{
    font-size : 16px;
    font-weight: bold;
}

#exit{
    width : 25px;
    height: 25px;
   
    background-color: #F5EC7D;
    
    border-radius: 5px;
    border: 2px solid ;

    font-weight: bold;
    
    float : right;
    
    margin-right: 20px;
}




.editform input[type="text"]{
    border-radius: 10px;
    
    border : 2px solid black;
    background-color:  ;
    
    width: 150px;
    height : 22px;
  
    margin : 10px 15px;
    margin-right: 20px;
    margin-top : -2px;
}
#editid{
    margin-left:3px;
}


#edit{
    width : 90px;
    height: 40px;
    
    background-color: #F5EC7D;
    
    border-radius: 5px;
    border: 2px solid black;

    font-weight: bold;
    font-size: 15px;
     
    margin-right: -10px;
    margin-top : 2px;
}


div.msg{
    font-size: 13px;
    font-weight: bold;
    color :crimson;
    
    margin-top: -5px;
}